{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.6.0"},
    {jiffy, "1.0.1"},
    {mongodb, ".*",
        {git, "git://github.com/comtihon/mongodb-erlang"}},
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [rest_api]}
]}.

{plugins, [rebar3_run]}.